.Allprojects {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(351deg, rgba(68, 0, 255, 1) 0%, rgba(99, 9, 121, 1) 48%, rgba(2, 0, 36, 1) 100%);

    .title-projetos {
        top: 12%;
        font-size: 3rem;
        color: #ce0aff;
        font-weight: 100;
        position: abolute;
        padding: 0px 30px;
        position: absolute;
        box-sizing: border-box;
    }

    .title-projetos::after {
        right: 0;
        bottom: 0;
        width: 50%;
        height: 5px;
        content: '';
        position: absolute;
        background: #ce0aff;
    }

    .title-projetos::before {
        top: 0;
        left: 0;
        width: 38%;
        content: '';
        height: 5px;
        position: absolute;
        background: #5c0074;
    }

    .container-cards-projetos {
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        padding: 300px 0 0 0;
        box-sizing: border-box;
        justify-content: space-evenly;

        .card-project {
            width: 600px;
            display: flex;
            cursor: pointer;
            overflow: hidden;
            min-height: 350px;
            position: relative;
            border-radius: 5px;
            margin-bottom: 40px;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .loading {
                width: 0%;
                bottom: 0;
                height: 10px;
                z-index: 9999;
                border-radius: 10px;
                position: absolute;
            }

            .second-img {
                opacity: 0;
                pointer-events: none;
            }

            @mixin keyframe {

                @keyframes loading {
                    0% {
                        width: 0%;
                    }

                    50% {
                        width: 100%;
                    }

                    100% {
                        width: 0%;
                    }
                }

                @keyframes img {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }
            }

            .img {
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-position: center;
                transition: .5s ease-in-out;
                background-repeat: no-repeat;
                filter: grayscale(100%) brightness(20%);
            }

            .container-info-tecno {
                width: 90%;
                height: 90%;
                z-index: 2;
                display: flex;
                color: #8209a0;
                border-radius: 6px;
                align-items: center;
                pointer-events: none;
                flex-direction: column;
                justify-content: center;
                transition: .5s ease-in-out;
                border: solid 4px #8209a0;

                .container-nome-child {
                    letter-spacing: 10px;
                    font-weight: 800 !important;
                }

                .info-child {
                    font-size: 2.2rem;
                    font-weight: 400;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    transition: .5s ease-in-out;
                }
            }

            .first-img:hover {
                filter: grayscale(0%);

                ~.loading {
                    @include keyframe;
                    animation: loading infinite 10s ease-in-out both;
                }

                ~.second-img {
                    @include keyframe;
                    filter: grayscale(0%);
                    animation: img infinite 10s step-end both;
                }

                ~.container-info-tecno {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    .info-child {
                        font-size: 0 !important;
                        letter-spacing: 0;
                    }

                }
            }

        }
    }
}