.nav-bar-conteiner-default {
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    height: 100px;
    position: fixed;
    padding: 0 100px;
    align-items: center;
    box-sizing: border-box;
    transition: .5s ease-in-out;
    background-color: #26014e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: space-between;

    .nav-bar-default {
        display: flex;
        width: 500px;
        justify-content: space-between;

        a {
            color: #fff;
            font-weight: 400;
            font-size: 1.2rem;
            position: relative;
            letter-spacing: 4px;
            text-decoration: none;
        }

        a:after {
            content: '';
            width: 0%;
            left: 0;
            bottom: -10px;
            height: 2px;
            position: absolute;
            background: #9602D3;
            transition: .5s ease-in-out;
        }

        a:hover::after {
            content: '';
            width: 100%;
        }


    }
}