.sobre-mim {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #09071A;

    .titulo-sobre-mim {
        width: 50%;
        display: flex;
        margin: 200px 0;
        align-items: center;
        flex-direction: column;

        div:nth-child(1) {
            color: #7a4cfc;
            font-weight: 600;
            letter-spacing: 3px;
        }

        div:nth-child(2) {
            color: #400ec9;
            font-size: 3.5rem;
            margin-top: 10px;
            margin-bottom: 20px;
            letter-spacing: 5px;
            position: relative;
        }

        div:nth-child(3) {
            color: #d8b2f7f5;
            font-size: 1rem;
            letter-spacing: 4px;
            width: 70%;
            text-align: center;
        }
    }
}


* {
    position: relative;
}

.timeline {
    width: 80%;
    color: #c4b2f5;
}

.timeline:before {
    content: "";
    top: 40px;
    left: 65px;
    width: 3px;
    position: absolute;
    background: #7645ff;
    height: calc(100% - 80px);
}

.timeline .column {
    position: relative;
    margin: 40px 40px 40px 120px;
}

.title {
    text-align: end;
}

.timeline .column .title h1 {
    font-size: 10rem;
    color: #7142f51f;
    font-family: serif;
    letter-spacing: 3px;
    text-align: start;
}

.timeline .right .title h1 {
    font-size: 10rem;
    color: #7142f51f;
    font-family: serif;
    letter-spacing: 3px;
    text-align: end;

}

.timeline .column .title h1:before {
    content: "";
    position: absolute;
    left: -62px;
    top: 86px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #400ec9;
    border: 3px solid #9c77ff;
}

.timeline .column .title h2 {
    font-size: 33px;
    margin-top: -60px;
    letter-spacing: 6px;
    text-align: start;
}

.timeline .right .title h2 {
    font-size: 33px;
    margin-top: -60px;
    letter-spacing: 6px;
    text-align: end;
}

.timeline .column .description p {
    font-size: 1.2rem;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: serif;
    color: #c0aaff5b;
}

.right .description p {
    font-size: 1.2rem;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: serif;
    color: #c0aaff5b;
    text-align: end;
}

.timeline .column .description {
    border-left: 1px solid #400ec9;
}

@media (max-width: 1030px) {

    .titulo-sobre-mim {
        width: 90% !important;
        margin: 0px 0 !important;

        div:nth-child(1) {
            color: #7a4cfc;
            font-weight: 600;
            letter-spacing: 3px;
        }

        div:nth-child(3) {
            width: 95% !important;
        }
    }

}

@media screen and (max-width: 412px) {

    .timeline {
        margin-bottom: 40px;
    }

    .titulo-sobre-mim {
        margin: 30px 0 100px 0 !important;
    }

    .timeline .column .title h1:before {
        display: none;
    }

    .timeline .column .title h1 {
        font-size: 9rem;
    }

    .timeline:before {
        display: none;
    }

    .timeline .column {
        margin: 0;
    }
}