@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.sobre-mim {
    width: 70%;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .titulo-sobre-mim {
        width: 100%;
        display: flex;
        margin: 200px 0;
        align-items: center;
        flex-direction: column;

        div {
            transform: translateX(500%);
            transition: .5s ease-in-out;
        }

        div:nth-child(1) {
            color: #03d500;
            font-weight: 600;
            letter-spacing: 3px;
        }

        div:nth-child(2) {
            color: #03d500;
            margin-top: 10px;
            font-weight: 900;
            font-size: 3.5rem;
            position: relative;
            margin-bottom: 20px;
            letter-spacing: 5px;
        }

        div:nth-child(3) {
            width: 70%;
            font-size: 1.5rem;
            text-align: center;
            color: #08ff04b7;
            letter-spacing: 4px;
        }
    }
}


* {
    position: relative;
}

.timeline {
    width: 80%;
    color: #51ff00;

}

.timeline:before {
    content: "";
    top: 40px;
    left: 65px;
    width: 3px;
    position: absolute;
    background: #00d552;
    height: calc(100% - 80px);
}

.timeline .column {
    position: relative;
    transition: 1s ease-in-out;
    transform: translateX(200%);
    margin: 40px 40px 40px 120px;
}

.title {
    text-align: end;
}


.timeline .column .title h1 {
    font-size: 10rem;
    text-align: start;
    color: #04d5002a;
    font-family: serif;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif !important;
}

.timeline .right .title h1 {
    font-size: 10rem;
    text-align: end;
    color: #04d5002a;
    font-family: serif;
    letter-spacing: 3px;
}

.timeline .column .title h1:before {
    content: "";
    top: 86px;
    left: -78px;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    background: #0f1216;
    border: 3px solid #03d500;
    animation: natal 3s infinite;
}

@keyframes natal {
    0% {
        background: #0f1216;
    }

    50% {
        background: #03d500;
    }

    100% {
        background: #0f1216;
    }
}

.timeline .column .title h2 {
    font-size: 33px;
    margin-top: -60px;
    letter-spacing: 6px;
    text-align: start;
    font-family: 'Oswald', sans-serif !important;

}

.timeline .right .title h2 {
    font-size: 33px;
    text-align: end;
    margin-top: -60px;
    letter-spacing: 6px;
}

.timeline .column .description p {
    color: #04c701;
    margin-top: 10px;
    line-height: 20px;
    font-size: 1.5rem;
    margin-left: 20px;
    font-family: serif;
    font-family: 'Oswald', sans-serif !important;
}

.right .description p {
    font-size: 1.2rem;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: serif;
    color: #03d500;
    text-align: end;
}


.timeline .column .right-border {
    border-left: 0;
    box-sizing: border-box;
    padding: 0 20px 0 0;
}

@media (max-width: 1030px) {

    .titulo-sobre-mim {
        width: 90% !important;
        margin: 0px 0 !important;

        div:nth-child(1) {
            color: #03d500;
            font-weight: 600;
            letter-spacing: 3px;
        }

        div:nth-child(3) {
            width: 95% !important;
        }
    }

}

@media (max-width: 830px) {

    .sobre-mim {
        width: 100%;
    }
}

@media screen and (max-width: 535px) {

    .timeline {
        margin-bottom: 40px;
    }

    .titulo-sobre-mim {
        width: 100%;
        text-align: center;
        margin: 30px 0 100px 0 !important;

        div:nth-child(2) {
            font-size: 3rem !important;
        }
    }

    .timeline .column .title h1:before {
        display: none;
    }

    .timeline .column .title h1 {
        font-size: 8rem;
    }

    .timeline:before {
        display: none;
    }

    .timeline .column {
        margin: 0;
    }
}

@media screen and (max-width: 309px) {
    .timeline .column .title h1 {
        font-size: 6rem;
    }
}