* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


.spinner {
    width: 100%;
    z-index: 100;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.lds-facebook {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
}

.lds-facebook div {
    left: 8px;
    width: 16px;
    position: absolute;
    display: inline-block;
    background: #49e601;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}


body {
    background: #0f1216;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #03d500;
}

body::-webkit-scrollbar-thumb {
    background-color: #111111;
}

.buttom {
    width: 120px;
    margin: 30px 0;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 14px 0px;
    text-align: center;
    border-radius: 100px;
    letter-spacing: 2px;
    background-color: #03c000;
}