* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #0f1216;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #03d500;
}

body::-webkit-scrollbar-thumb {
    background-color: #111111;
}

.buttom {
    width: 120px;
    margin: 30px 0;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 14px 0px;
    text-align: center;
    border-radius: 100px;
    letter-spacing: 2px;
    background-color: #03c000;
}

